<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Primary Meta Tags -->
    <title>e-Letronic</title>
    <meta name="title" content="e-Letronic">
    <meta name="description" content="Reciclagem de eletrônicos com cashback no bolso!">

    <!-- Styles -->
    <link rel="stylesheet" href="../../libs/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../../assets/styles/style.css">

    <!-- Icons (icomoon.io) -->
    <link rel="stylesheet" href="../../assets/fonts/style.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap">

    <!-- Favicons -->
    <link rel="shortcut icon" href="../../assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../assets/favicon.ico" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#69B99D">
    <meta name="theme-color" content="#69B99D">

</head>

<body>
    <!-- Header -->
    <header id="header">
        <nav class="container">
            <a class="logo" href="#">e<span>-Letronic</span></a>
            <div class="menu">
                <ul class="grid">
                    <li><a class="title" href="#home">Início</a></li>
                    <li><a class="title" href="#about">Sobre</a></li>
                    <li><a class="title" href="#services">Serviços</a></li>
                    <li><a class="title" href="#testimonials">Depoimentos</a></li>
                    <li><a class="title" href="#contact">Contato</a></li>
                    <li><a class="title" href="entrar.html">Entre</a></li>
                </ul>
            </div>
            <div class="toggle icon-menu"></div>
            <div class="toggle icon-close"></div>
        </nav>
    </header>

    <main>
        <!-- Home -->
        <section class="section" id="home">
            <div class="container grid">
                <div class="image">
                    <img src="../../assets/images/main.jpg" alt="Lixo eletrônico é ouro">
                </div>
                <div class="text">
                    <h2 class="title">Dever de reciclar</h2>
                    <p>Reaproveitamos todos os materiais que tenham condições de retornar ao processo produtivo, reduzindo a necessidade de se extrair mais elementos da natureza.</p>
                    <a class="button" target="_self" href="cadastro-cliente.html">Colaborar!</a>
                </div>
            </div>
        </section>

        <!-- Divisor -->
        <div class="divider-1"></div>

        <!-- About -->
        <section class="section" id="about">
            <div class="container grid">
                <div>
                    <img src="../../assets/images/about.jpg" alt="time focado e sorridente">
                </div>
                <div class="text">
                    <h2 class="title">Sobre nós</h2>
                    <p>Um pequeno time, mas causamos um grande impacto.</p>
                    <p>A grande demanda por inovação alinhado a um capitalismo desenfreado vem a anos gerando um brutal e irreversível desgaste para o planeta, no intuito de amenizar a situação atual e garantir um futuro melhor para todos, resolvemos ser
                        parte de uma grande mudança.</p>
                    <p>Em um mundo totalmente dominado pela tecnologia que vem se aperfeiçoando ano após ano, é comum de se pensar que objetos ultrapassados sempre vão parar no lixo; é onde nós entramos para fazer a diferença.</p>
                    <p></p>
                </div>
            </div>
        </section>

        <!-- Divisor -->
        <div class="divider-2"></div>

        <!-- Services -->
        <section class="section" id="services">
            <div class="container grid">
                <header>
                    <h2 class="title">Serviços</h2>
                    <p class="subtitle">Com pouco tempo no mercado, a <strong>e-Letronic</strong> já conquistou clientes e contribuiu para a sustentabilidade de todo o Brasil.</p>
                </header>
                <div class="cards grid">
                    <div class="card">
                        <i class="icon-mobile"></i>
                        <h3 class="title">Aparelhos moveis</h3>
                        <p>Celulares, smartphones, tablets etc.</p>
                    </div>
                    <div class="card">
                        <i class="icon-desktop"></i>
                        <h3 class="title">Computadores</h3>
                        <p>Computadores, notebooks e todos os seus periféricos.</p>
                    </div>
                    <div class="card">
                        <i class="icon-eletronic"></i>
                        <h3 class="title">Eletrônicos</h3>
                        <p>Televisores, aspiradores de pó, liquidificadores etc.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Divisor -->
        <div class="divider-1"></div>

        <!-- Testimonials -->
        <section class="section" id="testimonials">
            <div class="container">
                <header>
                    <h2 class="title">Quem utiliza, recomenda!</h2>
                </header>
                <div class="testimonials swiper-container">
                    <div class="swiper-wrapper">
                        <div class="testimonial swiper-slide">
                            <blockquote>
                                <p>
                                    <span>&ldquo;</span> Achei pika, mané. Ta de brincadeira, os caras mandam muito, ta maluco.
                                </p>
                                <cite>
                  <img src="../../assets/images/testimonial-01.jpg" alt="Foto de Casimiro">
                  Casimiro
                </cite>
                            </blockquote>
                        </div>

                        <div class="testimonial swiper-slide">
                            <blockquote>
                                <p>
                                    <span>&ldquo;</span>Eu sou cliente de e-Letronic, e eu não posso deixar de dizer que eu gosto muito.
                                </p>
                                <cite>
                  <img src="../../assets/images/testimonial-02.jpg" alt="Foto de Alexandra Moreira">
                  Alexandra Moreira
                </cite>
                            </blockquote>
                        </div>

                        <div class="testimonial swiper-slide">
                            <blockquote>
                                <p>
                                    <span>&ldquo;</span> Minha empresa presta serviço, e desde o inicio acreditamos que a e-Letronic é a melhor opção.
                                </p>
                                <cite>
                  <img src="../../assets/images/testimonial-03.jpg" alt="Foto de Franciele Siqueira">
                  Franciele Siqueira
                </cite>
                            </blockquote>
                        </div>
                    </div>
                    <!-- Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>

        <!-- Divisor -->
        <div class="divider-2"></div>

        <!-- Contact -->
        <section class="section" id="contact">
            <div class="container grid">
                <div class="text">
                    <h2 class="title">Fale conosco!</h2>
                    <p>Estamos sempre dispostos e temos um imenso prazer em tirar suas dúvidas, ouvir suas críticas e sugestões.</p>
                    <a href="https://api.whatsapp.com/send?phone=+{numero aqui}&text=Olá, tenho algo a dizer!" target="_blank" class="button"><i class="icon-whatsapp"></i>Entre em contato</a>
                </div>
                <div class="links">
                    <ul class="grid">
                        <li><i class="icon-phone"></i>(11) 94863-1512</li>
                        <li><i class="icon-map-pin"></i>Av. Paulista - Bela Vista, São Paulo - SP</li>
                        <li><i class="icon-mail"></i>contato@eletronic.com.br</li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Divisor -->
        <div class="divider-1"></div>

    </main>

    <footer class="section">
        <div class="container grid">
            <div class="brand">
                <a class="logo logo-alt" href="#home">e<span>-Letronic</span></a>
                <p>2022 e-Letronic.</p>
                <p>Todos os direitos reservados.</p>
            </div>
            <div class="social">
                <a href="#" target="_blank"><i class="icon-instagram"></i></a>
                <a href="#" target="_blank"><i class="icon-facebook"></i></a>
                <a href="#" target="_blank"><i class="icon-youtube"></i></a>
            </div>
        </div>
    </footer>

    <a href="#home" class="back-to-top"><i class="icon-arrow-up"></i></a>

    <!-- Swiper / Scroll -->
    <script src="../../libs/swiper-bundle.min.js"></script>
    <!-- Scroll Reveal -->
    <script src="../../libs/scrollreveal.min.js"></script>
    <!-- Scripts -->
    <script src="../../main.js"></script>

</body>

</html>