.text a {
    text-decoration: none;
    color: #5CBC9E;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color-light);
}

nav a:hover {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.text a:hover {
    color: #3d9378;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.image {
    width: 170%;
}

.link {
    color: #5CBC9E;
    text-decoration: none;
    line-height: 300%;
}

.link:hover {
    color: #3d9378;
    text-decoration: none;
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.access {
    padding-left: 23%;
    font: 700 1.875rem var(--title-font);
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

.button {
    width: 100%;
    padding-left: 45%;
}

form {
    border: #3d9378 solid 1px;
    border-radius: 3%;
    padding: 10px;
}

.line {
    border-top: #3d9378 solid 1px;
    width: 102.5%;
    padding-top: 5px;
}

.section .title {
    padding-top: 80px;
}