.text a {
    text-decoration: none;
    color: #5CBC9E;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color-light);
}

nav a:hover {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.text a:hover {
    color: #3d9378;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.section .title {
    padding-top: 140px;
}

form {
    width: 450px;
}

#testimonials cite img {
    width: 28rem;
    height: 20rem;
    object-fit: cover;
    clip-path: inset(0 0 0 0);
    margin-right: 0.5rem;
}

section.section div.container {
    margin-top: -180px;
}

blockquote p {
    padding-top: 10px;
}

@media (min-width: 1200px) {
    .button {
        float: right;
    }
    /* Home */
    #home .container {
        margin-top: -100px;
    }
}