.cash {
    width: 300px;
    margin: auto;
}

.btn-prof {
    width: 210px;
}

.testimonial img {
    height: 350px;
}

.main-perfil-cliente {
    margin-top: 100px;
}

.text a {
    text-decoration: none;
    color: #5CBC9E;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color-light);
}

nav a:hover {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.text a:hover {
    color: #3d9378;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.section .title {
    padding-top: 140px;
}

form {
    width: 450px;
}

@media (min-width: 1200px) {
    .button {
        float: right;
    }
    #home .container {
        margin-top: -140px;
    }
}